.App-header {
  padding: 14px 14px 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--red);
  border-bottom: 6px solid #000;
  font-family: 'Pokemon Solid', 'Roboto', sans-serif;
  color: var(--white);
}
  .App-header nav a {
    padding-left: 14px;
    text-decoration: none;
    font-size: 21px;
    color: var(--white);
    transition: color 250ms ease-in-out;
  }
    .App-header nav a:hover,
    .App-header nav a.active {
      color: var(--yellow);
    }
