.pagination {
  margin-top: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: var(--red);
  border: 1px solid var(--red);
  border-radius: 10px;
  color: var(--white)
}
.pagination li {
  padding: 5px 6px 5px 8px;
  cursor: pointer;
}
.pagination li:hover {
  color: var(--yellow);
}
.pagination li.active {
  background-color: #fff;
  color: var(--red);
}
