.pokemon-card {
  flex-basis: 200px;
  margin: 6px 4px;
  border: 1px solid var(--dark);
  border-radius: 10px;
}
  .pokemon-card h2 {
    margin: 0;
    padding: 6px 0;
    border-radius: 10px 10px 0 0;
    text-transform: capitalize;
    background-color: var(--dark);
    font-size: 18px;
    color: var(--white);
    text-align: center;
  }

  .pokemon-card .pokemon-thumbnail {
    /*overflow: hidden;*/
    margin: 0 auto;
    padding: 6px 0;
    text-align: center;
    color: transparent;
  }
